.ui-collapsible {
	margin-top: 0;
}

.sched-event > span {
	padding-top: 5px;	
	vertical-align: middle;
}

.sched-event > .ui-btn {
	float: right;
	margin: 0;
}

.timeago {
	font-size: 0.7em;
	font-style: italic;
	font-weight: normal;
	padding-left: 5px;
}

